<?xml version="1.0"?>

<robot name="smart_diffbot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="sim" default="true"/>

  <!-- Utils -->
  <xacro:include filename="$(find smart_diffbot_description)/model/urdf/utils.urdf.xacro" />

  <!-- Robot model -->
  <xacro:include filename="$(find smart_diffbot_description)/model/urdf/model.urdf" />

  <xacro:if value="$(arg sim)">
    <!-- Simulation interface -->
    <xacro:include filename="$(find smart_diffbot_description)/model/urdf/sim_interface.urdf.xacro" />
  </xacro:if>

  <xacro:unless value="$(arg sim)">
    <!-- Real hardware -->
    <xacro:include filename="$(find smart_diffbot_description)/model/urdf/hardware_interface.urdf.xacro" />
  </xacro:unless>

</robot>