<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

   <!-- Gazebo plugins -->
   <gazebo>

    <!-- sensors -->
    <plugin filename="ignition-gazebo-sensors-system"  name="ignition::gazebo::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>

    <!-- navsat -->
    <plugin filename="ignition-gazebo-navsat-system" name="ignition::gazebo::systems::NavSat"/>

    <!-- IMU -->
    <plugin filename="libignition-gazebo-imu-system.so" name="ignition::gazebo::systems::Imu"/>

  </gazebo>

  
  <!-- Sensor simulation -->
  <gazebo reference="camera_link">
    <sensor name="camera" type="camera">       
      <always_on>1</always_on>
      <update_rate>15</update_rate>
      <visualize>true</visualize>
      <topic>camera/image_raw</topic>
      <ignition_frame_id>camera_link</ignition_frame_id>
    </sensor>
  </gazebo>

  <gazebo reference="navsat_link">
    <sensor name="navsat" type="navsat">
      <always_on>1</always_on>
      <update_rate>1</update_rate>
      <topic>navsat/fix</topic>
      <ignition_frame_id>navsat_link</ignition_frame_id>
    </sensor>
  </gazebo>

  <gazebo reference="imu_link">
    <sensor name="imu" type="imu">
      <always_on>1</always_on>
      <update_rate>15</update_rate>
      <visualize>false</visualize>
      <topic>imu/data</topic>
      <ignition_frame_id>imu_link</ignition_frame_id>
  </sensor>
  </gazebo>

  <!-- No friction on fixed caster wheel -->
  <gazebo reference="caster">
    <mu1>0.0</mu1>   
    <mu2>0.0</mu2>
  </gazebo>

</robot>